body {
    font-family: Arial, sans-serif;
    background-color: #a3f3f3;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.form-container {
    background-color: #bef7f2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #037777;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 10px;
}

h1 {
    color: #000000;
}

#confirmation h2 {
    color: rgb(124, 70, 252);
}
